<form method="POST" action="/">
  <p>name: <input type="text" placeholder="puppy name" name="name"></p>
  <p>breed: <input type="text" placeholder="puppy breed" name="breed"></p>
  <p>age: <input type="text" placeholder="puppy age" name="age"></p>
  <input type="submit" value="submit">
</form>
